// -----------------------
// color defaults
// -----------------------
$black: #000
$gray: #ccc
$white: #fff
$danger: #ff0033

// -----------------------
// project colors
// -----------------------

// -----------------------
// box shadows
// -----------------------

// -----------------------
// overlays
// -----------------------

$ol1: rgba($black, 0.6)
