// -----------------------
// color defaults
// -----------------------
$black: #000
$gray: #ccc
$white: #fff
$danger: #ff0033

// -----------------------
// project colors
// -----------------------

$c1: #173a86
$c2: #3facdb
$c3: #d8d8d8
$c4: #525252
$c5: #3c3c3c
$c6: #99bfd1
$c7: #36528e
$c8: #e0a763


// -----------------------
// box shadows
// -----------------------

// -----------------------
// overlays
// -----------------------

$ol1: rgba($black, 0.6)

// -----------------------
// gradients
// -----------------------

$gr1: radial-gradient(circle at 77% 45%, $white, $c7)
$gr2: radial-gradient(circle at 77% 45%, $white, $c6)
$gr3: radial-gradient(circle at 34% 37%, rgba(63, 172, 219, 0), rgba(72, 175, 220, 0.06) 52%, rgba(63, 172, 219, 0.17))
