// -----------------------
// color defaults
// -----------------------
$black: #000
$gray: #ccc
$white: #fff
$danger: #ff0033

// -----------------------
// project colors
// -----------------------

$c1: #173a86
$c2: #3facdb
$c2--hover: darken($c2, 10%)
$c3: #d8d8d8
$c3-alt: #e9edf3
$c4: #525252
$c5: #3c3c3c
$c6: #99bfd1
$c7: #36528e
$c7-alt: #173a86
$c8: #e0a763
$c9: #2d395d


// -----------------------
// box shadows
// -----------------------

$bs1: 0 2px 6px -2px rgba($black, .85)
$bs2: 2px 2px 8px 0 rgba($black, .3)

// -----------------------
// overlays
// -----------------------

$ol1: rgba($c7-alt, 0.66)
$ol1--alt: rgba($c7-alt, 0.83)
$ol2: rgba($white, .74)
$ol2--alt: rgba($white, .84)
$ol3: rgba($white, .18)

// -----------------------
// gradients
// -----------------------

$gr1: radial-gradient(circle at 77% 45%, $white, rgba($c7, 1))
$gr2: radial-gradient(circle at 77% 45%, $white, $c6)
$gr3: radial-gradient(circle at 29% 40%, rgba($white, .77), rgba(72, 175, 220, .67) 100%), linear-gradient(-90deg, rgba($black, .47), rgba($black, .17))
