*
  box-sizing: border-box

body
  @include desktop-lg
    font-size: 18px
  @include phone
    font-size: 14px
  text-rendering: optimizeLegibility
  line-height: 1.467
  font-family: $font
  font-size: 16px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1
  line-height: 1.25
  font-size: 36px

h2
  line-height: 1.25
  letter-spacing: 2.8px
  font-size: 22px

h3
  line-height: 1.12
  font-size: 22px
  font-weight: 700

h4
  line-height: 1.12
  font-size: 18px

a
  text-decoration: none
  color: $black

p
  margin: 0

.hero-text
  line-height: 1.25
  font-size: 52px
  font-weight: bold

.p2
  font-size: 15px

.p3
  font-size: 12px
