*
  box-sizing: border-box

body
  @include desktop
    font-size: 20px
  @include phone
    font-size: 16px
  text-rendering: optimizeLegibility
  line-height: 1.467
  color: $c4
  font-family: $font
  font-size: 18px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h1
  text-transform: uppercase
  line-height: 1.4
  color: $c1
  font-family: $font-alt
  font-size: 36px
  font-weight: bold

h2
  text-transform: uppercase
  font-family: $font-alt
  font-size: 26px

h3
  letter-spacing: 1px
  color: $c1
  font-family: $font-alt
  font-size: 26px
  font-weight: 600

a
  text-decoration: none
  color: $c4

p, ul, h2, h3
  margin: 0

ul
  padding: 0

li
  list-style: none

input[type=text]
  -webkit-appearance: none

.hero-text
  text-transform: uppercase
  color: $white
  font-family: $font-alt
  font-size: 36px
  font-weight: bold

.nav-link
  transition: color .2s ease
  text-transform: uppercase
  color: $c5
  font-family: $font-alt
  font-size: 15px
  font-weight: 700

  &:hover
    color: $c2
