.block-exam
  @include ipad-pro
    top: 25%
  @include tablet
    top: 25%
  @include phone-lg
    display: none
  position: fixed
  top: 40%
  right: -94px
  transform: rotate(90deg)
  transition: background .2s ease
  z-index: 9999
  background: $c1
  cursor: pointer
  padding: rem-calc(8) rem-calc(21)

  &:hover
    background: $c1

    .block-exam__icon
      transform: translateX(2px)
      transition: transform .5s cubic-bezier(.52, 1.5, .16, 1.5)

  &__btn
    color: $white

  &__icon
    display: inline-block
    transition: transform .3s ease
    margin-right: rem-calc(10)
    width: 20px
    height: 18px
    fill: $white
