.custom-new-forms
  @include phone-lg
    padding: 4rem 0
  position: relative
  background-position: right
  padding: 6rem 0

  &__overlay
    @extend .overlay
    background: rgba($c1, .8)

  &__container
    @extend .container
    color: $white

  &__col
    @extend .col-8
    @extend .col-2--offset

  &__title
    color: $white

  &__body
    padding: 2rem 0 0

    ul
      padding-left: 1.5rem

    li
      padding: .5rem 0
      list-style: circle

      &:first-child
        padding-top: 0

  &__buttons
    @include tablet
      flex-wrap: wrap
    display: flex
    align-items: center
    justify-content: space-around

  &__button
    @extend .button
    margin-top: 2rem
