.block-tabs
  @include tablet
    padding: 3rem 0
  position: relative
  padding: 6rem 0
  overflow: hidden

  &__background,
  &__content-background
    @extend .image

  &__background-overlay,
  &__content-overlay
    @extend .image

  &__background-overlay
    background: $ol2

  &__container
    @extend .container

  &__title-col
    @extend .col-12

  &__col
    @extend .col-4
    @include tablet
      width: 33%
    @include phone-lg
      width: 100%
    padding: 0

  &__title
    position: relative
    z-index: 1
    padding-bottom: 4rem
    text-align: center
    color: $c2

  &__content
    @include tablet-lg
      min-height: 20rem
    @include tablet
      min-height: 33vw
    @include phone-lg
      min-height: 80vw
    display: flex
    position: relative
    align-items: center
    justify-content: center
    transition: transform .3s cubic-bezier(.39, .575, .28, .995)
    cursor: pointer
    min-height: 25rem
    text-transform: uppercase

    &-overlay
      transition: background .3s ease
      background: $ol1--alt

    &-title
      @include tablet
        font-size: 18px
      position: relative
      left: 1rem
      transition: color .3s ease, transform .3s cubic-bezier(0, 0, 0.2, 1)
      z-index: 2
      padding-right: 2rem
      overflow: hidden
      color: $white

      &:after
        position: absolute
        top: 50%
        right: 0
        transform: translateY(-50%) translateX(2rem)
        transition: transform .35s cubic-bezier(0, 0, 0.2, 1), opacity .25s ease-in, box-shadow .2s ease
        opacity: 0
        border: .75rem solid transparent
        border-left-color: $c1
        content: ''
        transform-origin: 50% 25%

    &:hover
      transform: scale(1.025)
      z-index: 1
      box-shadow: 0 6px 16px -8px rgba($black, .45)

      .block-tabs__content-overlay
        z-index: 1
        background: $ol2--alt

      .block-tabs__content-title
        color: $c1
        &:after
          transform: translateY(-50%) translateX(0)
          opacity: 1

  &__modal
    @extend .image
    position: fixed
    transition: opacity .25s ease
    opacity: 0
    pointer-events: none

    &--showing
      transition: opacity .5s ease
      opacity: 1
      z-index: 99999
      pointer-events: all

    &-overlay
      @extend .image
      background: $ol1

    &-container
      @extend .image
      @include phone-lg
        width: 90%
      background: $white
      width: calc(100% - 4rem)
      max-width: 65rem
      height: calc(100% - 4rem)
      max-height: 35rem

    &-image
      @extend .image
      @include phone-lg
        opacity: .1
        background-position: 2%
      opacity: .25
      z-index: -1

    &-content
      position: relative
      height: 100%

    &-close
      position: absolute
      top: 2rem
      right: 2rem
      width: 2rem
      height: 2rem

      span
        display: block
        position: absolute
        top: 45%
        background: $c1
        width: 2rem
        height: 4px

        &:first-child
          transform: rotate(45deg)

        &:last-child
          transform: rotate(-45deg)

    &-text-container
      @include phone-lg
        left: 0
        transform: translate(0, -50%)
        padding: 0 .5rem
        width: 100%
      position: absolute
      top: 50%
      left: 60%
      transform: translate(-50%, -50%)
      width: 45%

    &-title
      @extend h1
      margin-bottom: 1rem
