.hero
  position: relative
  height: 100vh
  max-height: 553px
  overflow: hidden

  &__overlay
    @extend .overlay
    background: $ol1

  &__bg
    @extend .image--bg
    z-index: -1

  &__banner
    position: absolute
    top: 0
    left: 0
    z-index: 2
    background-color: $c9
    padding: .5rem 2rem
    width: 100%
    text-align: center
    color: $white
    font-size: 14px

  &__phone-number
    margin-left: 4px
    color: $white
    font-size: 14px

  &__content
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 2
    text-align: center
    color: $white

  &__title
    @extend .hero-text

  &__logo
    width: 120px
    height: 120px

  // &__video
  //   position: absolute
  //   top: 0
  //   left: 0
  //   z-index: -1
  //   width: 100%
  //   height: 100%
  //   overflow: hidden
  //
  //   @supports(object-fit: cover)
  //     object-fit: cover
