.hero
  @include tablet
    margin-bottom: 0
  position: relative
  margin-bottom: rem-calc(68)
  height: 100vh
  max-height: 553px
  overflow: hidden

  &__overlay
    @extend .overlay
    background: $ol1

    &--light
      background: rgba($c1, .08)

  &__bg
    @extend .image--bg
    @include tablet
      background-position: 18%
    z-index: -1

    .pages-financials &,
    .pages-new-patient &,
    .pages-about &
      @include phone-lg
        background-position: 70%
      background-position: center 25%

  &__banner
    position: absolute
    top: 0
    left: 0
    z-index: 2
    background-color: $c9
    padding: .5rem 2rem
    width: 100%
    text-align: center
    color: $white
    font-size: 14px

  &__banner-content
    &--desktop
      @include tablet
        display: none
    &--mobile
      @media screen and (min-width: $screen-tablet)
        display: none

  &__phone-number
    margin-left: 4px
    color: $white
    font-size: 14px

  &__content
    @include phone-lg
      top: 70%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 2
    text-align: center
    color: $white

  &__title
    @extend .hero-text
    transform: translateY(1.5rem)
    animation: fade-in-up .7s cubic-bezier(.39, .575, .28, .995) .2s forwards
    opacity: 0

  &__logo
    @include phone-lg
      display: none
    animation: fade-in .7s ease .2s forwards
    opacity: 0
    margin: auto
    width: 120px
    height: 120px

    &--home
      @include phone-lg
        display: block
        width: 300px
      width: 420px
      height: 100%

      .pages-home &
        .b9e46780-602d-44c1-a449-b59a5b303f75,
        .a849a40f-3d08-4c82-b54b-e9543969e333
          fill: $white

        // &__video
        //   position: absolute
        //   top: 0
        //   left: 0
        //   z-index: -1
        //   width: 100%
        //   height: 100%
        //   overflow: hidden
        //
        //   @supports(object-fit: cover)
        //     object-fit: cover
