.custom-home-appointment
  padding: rem-calc(50) 0
  // background: rgba(#eee, .47)

  &__container
    @extend .container

  &__title
    @extend h1
    width: 100%
    text-align: center
    color: $c1

  &__form-container
    @extend .col-6
    @extend .col-3--offset
    margin: 2rem auto 0
    padding: 0

  &__logo
    position: absolute
    top: 70%
    left: 75%
    transform: translate(-50%, -50%)
    opacity: .15
    // z-index: 0
    width: rem-calc(280)
