.footer-mobile
  @include phone-lg
    display: block
  display: none

  &__container
    position: fixed
    bottom: 1rem
    left: 50%
    transform: translateX(-50%)
    z-index: 9999
    border-radius: 40px
    box-shadow: $bs2
    background: white
    padding: .75rem 1rem
    width: 100%
    max-width: 96%

  &__links-bar
    display: flex
    justify-content: center

  &__link
    margin: auto 1rem

    &:first-child
      width: 44px
      .footer-mobile__icon
        width: 20px

    &:nth-child(2)
      .footer-mobile__icon
        width: 32px

    &:last-child
      .footer-mobile__icon
        width: 16px
        // height: 26px

  &__text
    // margin-top: rem-calc(8)
    font-size: 13px

  &__icon
    margin: 0 auto rem-calc(8)
    width: 1.1rem
    height: 20px
    fill: $c2
    // background: pink
    // height: 1rem

  &__nocss
    position: relative

  &__popup
    position: fixed
    background: #3facdb
    width: 100%
    max-width: 90%
    padding: 15px
    bottom: 0
    transform: translate(-50%, -50%)
    left: 50%
    z-index: 9
    bottom: 0

  &__popuplist
    margin-bottom: 10px
    padding-bottom: 10px
    border-bottom: 1px solid #f5f5f51f

    h4
      color: #fff
    a
      color: #fff

  &__popuplist1
    border-bottom: 0px

  &__arrow
    position: absolute
    bottom: -25px
    left: 50%
    -webkit-transform: translateX(100%)
    transform: translateX(100%)
    border-width: 25px 25px 0
    border-style: solid
    border-color: #3facdb transparent transparent
    width: 0
    height: 0
