.block-title-text
  @include phone-lg
    padding: 4rem 0
  padding: 6rem 0

  &__container
    @extend .container

  &__col
    @extend .col-7
    @extend .col-1--offset

    .pages-financials &
      @extend .col-8
      @extend .col-2--offset

    &--image
      @extend .col-4
      position: relative

  &__image
    @extend .image

    .pages-new-patient &
      max-height: 392px

  &__body
    padding: 2rem 0

    ul
      padding-left: 1.5rem

    li
      padding: .5rem 0
      list-style: circle

      &:first-child
        padding-top: 0

  &__button
    @extend .button

    &-box
      display: flex
      justify-content: center
