.form-contact
  width: 100%
  height: 100%

  &__group,
  &__item
    position: relative

    &--inline
      @include laptop
        flex-direction: column
      display: flex
      align-items: center
      justify-content: space-between

    &--not-required
      padding-bottom: 1.5rem

  &__item
    @include phone-lg
      width: 100%
    width: 48%

  &__input
    border-bottom: 2px solid $c2
    border-radius: 0
    background: transparent
    padding-left: 1rem
    width: 100%
    height: rem-calc(50)
    line-height: 42px
    color: #525252

    &:focus
      outline: none

    &--error
      border-bottom-color: $danger

    &--textarea
      margin-top: 1.5rem
      border: 2px solid $c2
      height: 100%
      line-height: rem-calc(42)

  &__label
    position: absolute
    top: 45%
    transform: translateY(-50%)
    transition: all .3s cubic-bezier(.165, .84, .44, 1)
    padding-left: rem-calc(10)
    color: $c4
    transform-origin: left
    pointer-events: none

    .form-contact__group--textarea &
      top: 25%

    &--active
      top: 0
      transform: translateY(-50%) scale(.75)
      color: $c4

      .form-contact__group--textarea &
        top: .5rem

  &__message
    position: relative
    height: 1.5rem

    span
      position: absolute
      top: 0
      color: $danger
      font-size: 12px

  &__submit-button
    display: block
    transition: background-color .2s ease, color .2s ease
    margin: 3rem auto 0
    // border: 1px solid $c1
    border-radius: 30px
    background-color: $c1
    cursor: pointer
    padding: rem-calc(10) 5rem
    color: $white
    font-size: 14px
    font-weight: 600

    &:hover
      background-color: $c7-alt

  &__thankyou
    text-align: center

    &-title
      margin-bottom: 1rem

  &__itemfull
    width: 100%

  &__radio
    display: flex
    gap: 20px

  &__radio-input
    margin-right: 4px

  &__label--radio
    padding-left: 10px
    display: block
    margin-bottom: 8px

  &__label1
    transform: translateY(-45px)
    top: 35px
    font-size: 14px

  &__custom-radio-grid
    display: flex
    gap: 20px
    padding-left: 15px
    @include phone-lg
      padding-left: 0px

  &__custom-control-inline
    flex: 1
    display: flex
    align-items: center

  &__input-radio
    width: 15px
    margin-right: 5px
    vertical-align: bottom

  &__error-message
    font-size: 12px
    color: #ff0033