.test-cols
  padding-bottom: 4rem
  &__container
    @extend .container

    &-lg
      @extend .container--large

  &__col
    min-height: 7rem
    div
      width: 100%
      height: 100%

  &__col-1
    @extend .col-5
    @extend .col-8--tablet
    div
      background: tomato

  &__col-2
    @extend .col-2
    @extend .col-4--tablet
    div
      background: blue

  &__col-3
    @extend .col-2--offset
    @extend .col-3
    div
      background: yellow

  &__col-4
    @extend .col-4
    @extend .col-7--tablet
    div
      background: green

  &__col-5
    @extend .col-3
    @extend .col-2--offset
    @extend .col-7--tablet
    div
      background: purple

  &__col-6
    @extend .col-5
    div
      background: orange
