.custom-financials-faq
  @include phone-lg
    padding: 0 0 4rem
  position: relative
  padding: 0 0 6rem

  &__container
    @extend .container

  &__col
    @extend .col-8
    @extend .col-2--offset

  &__body
    padding: 2rem 0 1rem

  &__faq
    padding: 1rem 0

    &-question
      position: relative
      border: 1px solid $c4
      padding: 1rem
      color: $c1

      &:after
        position: absolute
        top: 50%
        right: 1rem
        transform: translateY(-50%)
        transition: transform .35s cubic-bezier(.89, .1, .44, .95)
        border: .75rem solid transparent
        border-left-color: $c2
        content: ''
        transform-origin: 50%

      &--showing
        &:after
          transform: translateY(-10%) rotate(90deg)

    &-drawer
      transition: border .35s ease-in-out, height .35s cubic-bezier(.89, .1, .44, .95), padding .35s ease-in-out
      border: solid $c4
      border-width: 0
      border-top-color: transparent
      background: $c3-alt
      height: 0
      pointer-events: none

      &--showing
        transition: height .45s cubic-bezier(.39, .575, .28, .995)
        border-width: 1px
        padding: 1rem
        height: 15rem
        pointer-events: all

    &-answer
      opacity: 0

      &--showing
        transition: opacity .25s ease-in .3s
        opacity: 1
