.footer
  @include phone-lg
    padding: 2rem 0 7rem
  padding: rem-calc(35) 0

  &__container
    @extend .container
    justify-content: center

  &__item
    @include tablet
      width: 100%
    width: 33%
    text-align: center

  &__logo
    margin: 0 auto rem-calc(10)
    width: 100px

  &__address, &__phone, &__privacy-policy
    display: block
    color: $c1

  &__links
    display: flex
    justify-content: center
    margin-top: 1rem

  &__link
    margin: auto rem-calc(8)
    border-radius: 50%
    box-shadow: 0 2px 4px 0 rgba($black, .25)
    padding: rem-calc(8)
    width: rem-calc(36)
    height: rem-calc(36)

    &-icon
      height: 100%
      fill: $c2
