.navigation-desktop
  position: absolute
  z-index: 99
  width: 100%
  height: 621px

  &--fixed
    position: fixed
    top: 0
    height: 100%
    max-height: 68px

  &__container
    position: absolute
    bottom: 0
    background: $c3-alt
    width: 100%

  &__topbar
    display: flex
    position: fixed
    top: rem-calc(100)
    left: 50%
    align-items: center
    justify-content: flex-end
    transform: translateX(-50%)
    padding: 0 1.25rem 0 2rem
    width: 100%
    max-width: calc(1440px + 64px)
    pointer-events: none

    .navigation-desktop--fixed &
      top: 1.35rem
      z-index: 2

  &__phone
    transition: color .2s ease
    opacity: 0
    margin-right: 1rem
    height: 100%
    line-height: 20px
    color: $c2
    font-size: 16px
    font-weight: 600
    pointer-events: none

    .navigation-desktop--fixed &
      opacity: 1
      pointer-events: auto

    &:hover
      color: $c5

  &__phone-icon
    fill: $c2

  &__social-links
    @include laptop
      display: none
    height: 20px

  &__social-link
    display: inline-block
    width: 32px
    height: 32px
    pointer-events: all

    &:not(:last-child)
      margin-right: rem-calc(8)

    .navigation-desktop--fixed &
      width: 20px
      height: 20px

  &__social-icon
    fill: $white

    .navigation-desktop--fixed &
      fill: $c2

  &__navbar
    display: flex
    position: relative
    justify-content: center
    margin: 0 auto
    padding: 0 2rem
    width: 100%
    max-width: calc(1440px + 64px)

  &__home
    @include laptop
      top: 55%
      width: 120px
    display: inline-block
    position: absolute
    top: 50%
    left: 2rem
    transform: translateY(-50%)
    transition: opacity .2s ease
    opacity: 0
    width: 128px
    height: 44px
    pointer-events: none

    .navigation-desktop--fixed &
      opacity: 1
      pointer-events: auto

    @media screen and (max-width: 872px)
      top: 60%
      width: 90px

  &__logo
    height: 100%

  // &__link

  &__nav-item
    @extend .nav-link
    display: inline-block
    position: relative
    padding: 1.5rem 1rem
    // min-width: 98px
    height: 100%
    text-align: center

    &:hover
      color: $c2

    &--active
      background: $c2
      color: $white

      &:hover
        color: $white
