.navigation-desktop
  position: absolute
  z-index: 99
  width: 100%
  height: 621px

  &--fixed
    position: fixed
    top: 0
    height: 100%
    max-height: 68px

  &__container
    position: absolute
    bottom: 0
    background: $c3-alt
    width: 100%

  &__topbar
    display: flex
    position: fixed
    top: rem-calc(56)
    left: 50%
    justify-content: flex-end
    transform: translateX(-50%)
    padding: 0 2rem
    width: 100%
    max-width: calc(1440px + 64px)
    pointer-events: none

    .navigation-desktop--fixed &
      top: 1.5rem
      z-index: 2

  &__phone
    opacity: 0
    margin-right: 1rem
    width: 20px
    height: 20px
    pointer-events: none

    .navigation-desktop--fixed &
      opacity: 1
      pointer-events: auto

  &__phone-icon
    fill: $c2

  &__social-link
    display: inline-block
    width: 32px
    pointer-events: all

    &:first-child
      margin-right: rem-calc(8)

    .navigation-desktop--fixed &
      width: 20px

  &__social-icon
    fill: $white

    .navigation-desktop--fixed &
      fill: $c2

  &__navbar
    display: flex
    position: relative
    justify-content: center
    margin: 0 auto
    padding: 0 2rem
    width: 100%
    max-width: calc(1440px + 64px)

  &__home
    @include laptop
      top: 55%
      width: 120px
    display: inline-block
    position: absolute
    top: 50%
    left: 2rem
    transform: translateY(-50%)
    transition: opacity .2s ease
    opacity: 0
    width: 128px
    height: 44px
    pointer-events: none

    .navigation-desktop--fixed &
      opacity: 1
      pointer-events: auto

    @media screen and (max-width: 872px)
      top: 60%
      width: 90px

  &__logo
    height: 100%

  &__link
    @extend .nav-link

  &__nav-item
    display: inline-block
    position: relative
    padding: 1.5rem 1rem
    // min-width: 98px
    height: 100%
    text-align: center

    &--active
      background: $c2

      .navigation-desktop__link
        color: $white

    // &:nth-child(3)
    //   &:after
    //     position: absolute
    //     bottom: 0
    //     left: 0
    //     width: 200%
    //     height: 10px
    //     content: ''
    //
    //   &:hover
    //     .navigation-desktop__dropdown
    //       opacity: 1
    //       pointer-events: all

    @media screen and (max-width: 970px)
      padding: 1.5rem .5rem

  &__dropdown
    position: absolute
    top: 100%
    left: 1rem
    transition: opacity .3s ease
    opacity: 0
    box-shadow: 0 2px 6px -2px rgba($black, .14)
    background: $white
    width: rem-calc(260)
    pointer-events: none

  &__sublink
    position: relative
    margin-top: rem-calc(8)
    padding: 1rem rem-calc(10)
    text-align: center

    &--icon
      transition: background .2s ease
      background: rgba($c6, .2)

      &:hover
        background: #eee

    &:hover
      .navigation-desktop__overlay
        background: rgba($white, .64)

      .navigation-desktop__label
        color: $c1

  &__overlay
    @extend .overlay
    transition: background .2s ease
    z-index: 1
    background: rgba($c1, .65)

  &__bg
    @extend .image--bg

  &__sublink-icon
    display: inline-block
    margin-top: rem-calc(4)
    margin-right: rem-calc(6)
    width: rem-calc(48)
    vertical-align: middle
    line-height: 2

  &__label
    position: relative
    transition: color .2s ease
    z-index: 2
    text-transform: uppercase
    color: $white
    font-family: $font-alt
    font-size: 26px

    &--small
      line-height: 2
      color: $c1
      font-size: 16px
      font-weight: 600
