.custom-home-welcome
  @include tablet
    padding: 3rem 0
    height: 100%
  position: relative
  height: 588px

  &__container
    @extend .container
    align-items: center
    height: 100%

  &__content
    @extend .col-7
    @extend .col-5--offset

  &__image
    @include tablet
      display: none
    @extend .image--bg
    background-position: 25%

  &__title
    @extend h3
    transform: translateY(1rem)
    transition: transform .7s cubic-bezier(.52, .01, .16, 1), opacity .7s ease-in
    opacity: 0

    .custom-home-welcome--active &
      transform: none
      opacity: 1

  &__text
    transition: opacity .7s ease-in .25s
    opacity: 0
    margin: 2rem 0 3rem

    .custom-home-welcome--active &
      opacity: 1

  &__title, &__text
    @include tablet
      text-align: center

  &__link
    @include tablet
      display: block
      margin: 0 auto
    display: inline-block
    transition: transform .2s ease, background .2s ease, box-shadow .2s ease, opacity .7s ease-in .5s
    opacity: 0
    border-radius: 20px
    background: $c2
    padding: rem-calc(8)
    width: 225px
    text-align: center
    color: $white
    font-size: 16px
    font-weight: 600

    &:hover
      transform: translateY(-2px)
      box-shadow: $bs1
      background: $c2--hover

    .custom-home-welcome--active &
      opacity: 1  
