// --------------------------------------------------------
// normalize
// --------------------------------------------------------

@import './sass/base/normalize'

// --------------------------------------------------------
// base
// --------------------------------------------------------

@import './sass/base/units'
@import './sass/base/grid'
@import './sass/base/breakpoints'
@import './sass/base/fonts'
@import './sass/base/colors'
@import './sass/base/typography'

// --------------------------------------------------------
// utilities
// --------------------------------------------------------

@import './sass/utilities/*.sass'
@import './sass/utilities/**/*.sass'

// --------------------------------------------------------
// components
// --------------------------------------------------------

@import './components/**/*.sass'
@import './components/**/**/*.sass'

.block-title-text__colcenter
  text-align: center

.block-title-text__colcenter a
  text-decoration: underline

.homereview
  padding: 5rem 0

.homereview__mainheading
  margin-bottom: 30px
  color: #fff
  font-weight: bold
  font-size: 36px
  line-height: 1.4
  text-transform: uppercase

.homereview__slider-wrapper
  width: 100%
  max-width: 1000px
  margin: 0 auto
  position: relative
  box-sizing: border-box

.homereview__text-center
  text-align: center

.homereview__slider-home
  width: 100%
  margin: 0 auto
  position: relative
  box-sizing: border-box

.homereview__slider-home .swiper-slide
  width: 100%
  margin: 0 auto
  display: block

.homereview__info
  background: white
  padding: 30px
  border-radius: 10px
  margin: 0 25px
  position: relative
  cursor: pointer

.homereview__content
  display: block
  margin-top: 15px
  font-weight: 600
  font-size: 14px
  color: #173a86

.homereview__slider-home .swiper-pagination
  position: relative
  top: 0px !important

.homereview__slider-home .swiper-pagination-bullet
  opacity: 0.7

