.custom-home-instagram
  padding: rem-calc(73) 0

  &__container
    @extend .container
    @include tablet
      justify-content: center

  &__title
    @extend h1
    margin-bottom: 2rem
    width: 100%
    text-align: center

  &__thumb
    @extend .col-3
    @include tablet
      margin: 1rem
      max-width: 40%
    transition: opacity .2s ease

    &:hover
      opacity: .7

  &__image
    width: 100%
    height: 100%
