.custom-home-instagram
  padding: rem-calc(73) 0

  &__container
    @extend .container

  &__title
    @extend h1
    margin-bottom: 2rem
    width: 100%
    text-align: center

  &__thumb
    @extend .col-3

  &__image
    width: 100%
    height: 100%
