// --------------------------------------------------------
// columns
// --------------------------------------------------------

@for $i from 1 through $columns
  .col-#{$i}
    @include tablet
      width: 100%
    padding: 0
    width: calc((#{$i} / #{$columns}) * 100% - .1px)

    .container--large &
      @include tablet
        width: 100%
      width: calc(#{$i} / #{$columns-large} * 100% - .1px)

    &--tablet
      @include tablet
        padding: 0
        width: calc((#{$i} / #{$columns}) * 100% - .1px)
      @include phone-lg
        width: 100%

      .container--large &
        @include tablet
          width: calc(#{$i} / #{$columns-large} * 100% - .1px)
        @include phone-lg
          width: 100%

      @include phone-lg
        width: 100%


    &--offset
      @include tablet
        margin-left: 0
      margin-left: calc((#{$i} / #{$columns}) * 100% - .1px)

      .container--large &
        @include tablet
          margin-left: 0
        margin-left: calc((#{$i} / #{$columns-large}) * 100% - .1px)
