// --------------------------------------------------------
// containers
// --------------------------------------------------------

.container
  @include desktop
    max-width: $max-width
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  width: 100%
  max-width: $width

  &--large
    @include desktop
      max-width: $max-width-large
    display: flex
    flex-wrap: wrap
    margin: 0 auto
    width: 100%
    max-width: $width-large
